<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center><h1>FAQ</h1></center>
  <ion-card>

    <ion-card-header text-wrap (click)="expandElement(0)">
      A remplir par l'entreprise
    </ion-card-header>

    <ion-card-content *ngIf="questionElements[0]">
      A remplir par l'entreprise
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header text-wrap (click)="expandElement(1)">
      A remplir par l'entreprise
    </ion-card-header>

    <ion-card-content *ngIf="questionElements[1]">
      A remplir par l'entreprise
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header text-wrap (click)="expandElement(2)">
      A remplir par l'entreprise
    </ion-card-header>

    <ion-card-content *ngIf="questionElements[2]">
      A remplir par l'entreprise
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header text-wrap (click)="expandElement(3)">
      A remplir par l'entreprise
    </ion-card-header>

    <ion-card-content *ngIf="questionElements[3]">
      A remplir par l'entreprise
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header text-wrap (click)="expandElement(4)">
      A remplir par l'entreprise
    </ion-card-header>

    <ion-card-content *ngIf="questionElements[4]">
      A remplir par l'entreprise
    </ion-card-content>

  </ion-card>

  <!--<ion-card>

    <ion-card-header text-wrap (click)="expandElement(5)">
      A remplir par l'entreprise
    </ion-card-header>

    <ion-card-content *ngIf="questionElements[5]">
      A remplir par l'entreprise
    </ion-card-content>

  </ion-card>-->

  <!--<ion-card>

    <ion-card-header text-wrap (click)="expandElement(6)">
      A remplir par l'entreprise
    </ion-card-header>

    <ion-card-content *ngIf="questionElements[6]">
      A remplir par l'entreprise
    </ion-card-content>

  </ion-card>-->

</ion-content>