.verifyBtn{
    text-align: center;
        background-color: blue;
        color: white;
        direction: ltr;
        font-weight: bald;
        height: auto;
        line-height: normal;
        max-width: 200px;
        min-height: 40px;
        padding: 8px 16px;
        text-align: center;
        width: 100%;
        
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        font-family: Roboto,Helvetica,Arial,sans-serif;
}
.changeBtn{
    text-align: center;
        background-color: grey;
        color: white;
        direction: ltr;
        font-weight: bald;
        height: auto;
        line-height: normal;
        max-width: 200px;
        min-height: 40px;
        padding: 8px 16px;
        text-align: center;
        width: 100%;
        
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        font-family: Roboto,Helvetica,Arial,sans-serif;
}
.verifyBtn:disabled{
    background-color: red;
}
        .verifyCenter{
            text-align: center;
            align-items: center;
        }
        .p2Verify{
            margin-right: 30px;
            margin-left: 30px;
            font-weight: bold;
        }
        .p1Verify{
            margin-top: 50px;
            margin-right: 30px;
            margin-left: 30px;
            font-weight: bold;
        }
