.signUpBtn{
    text-align: center;
                background-color: blue;
                color: white;
                direction: ltr;
                font-weight: bald;
                height: auto;
                line-height: normal;
                max-width: 220px;
                min-height: 40px;
                padding: 8px 16px;
                text-align: center;
                width: 100%;
                margin-top: 20px;
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
                font-family: Roboto,Helvetica,Arial,sans-serif;
}
                .rowLogin{
                    text-align: center;
                }
                

.birthLabel{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin: 20px;
}
.test{
    padding-top: 25px;

}

 
.select-dropdown {
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: white;
  width: 200px;
  max-width: 100%;
  border-radius: 2px;
  border: 1px solid black;

  select {
    font-family: "helvetica neue", helvetica;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    text-align: center;
    padding: 2px;
    border: none;
    background-color: transparent;
  }
}