<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<div class="container">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <ion-icon name="location-outline" style="font-size:40px"></ion-icon>
        <div class="topic">Adresse</div>
        <div class="text-one">RN2A, Es senia, Oran Algérie 31100 Es Senia</div>
        <div class="text-two">Algeria</div>
      </div>
      <div class="phone details">
        <ion-icon name="call-outline" style="font-size:40px"></ion-icon>
        <div class="topic">Téléphone</div>
        <div class="text-one">+213 557 96 21 46</div>
      </div>
      <div class="email details">
        <ion-icon name="mail-outline" style="font-size:40px"></ion-icon>
        <div class="topic">E-mail</div>
        <div class="text-one">KartLive@gmail.com</div>
      </div>
    </div>
  