ion-slide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
ion-slide p{
    color: grey;
}

ion-slide img{
    
    width: auto;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    background-color: rgb(240, 232, 232);
    &::-webkit-scrollbar {
      display: none;
    }
  }

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.content{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    color: black;
    width:auto;
    margin:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contentimg
{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    color: black;
    width:auto;
    margin:2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 8px;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:black;
}
.links{
    margin: 15px 0;
}
.links li{
    border: 2px solid #4158D0;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.links li:hover{
    border-color: #C850C0;
}
.vertical-line{
    height: 30px;
    width: 3px;
    background: #C850C0;
    margin: 0 auto;
}
