ion-item {
    ion-label {
        ion-icon {
            height: 10px;
        }
        p {
            margin-left: 21px;
        }
    }
}
ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    background-color: rgb(240, 232, 232);
    &::-webkit-scrollbar {
      display: none;
    }
  }
