<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class = "content">
  <h2>A propos</h2>
  <span><!-- line here --></span>
  <p>Kart Live est un lieu de détente entre amis ou en famille, une piste de karting de 340m linéaire ainsi qu'un espace de restauration.
    Disons le, piloter ça donne faim.</p>
  <ul class = "icons">
      <li>
        <a href="https://www.facebook.com/kart.live.oran/?ref=page_internal" style="color: black;"><ion-icon name="logo-facebook" style="font-size: 40px;"></ion-icon></a>
      </li>
      <li>
        <a href="https://www.instagram.com/kart_live_oran/" style="color: black;"><ion-icon name="logo-instagram" style="font-size: 40px;"></ion-icon></a>
      </li>
      <li>
        <ion-icon name="logo-twitter" style="font-size: 40px;"></ion-icon>
      </li>
      
  </ul>
</div>
</ion-content>